.product {
  @extend .col-xs-12;
  @extend .col-sm-6;
  @extend .col-md-3;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  &__inner {
    position: relative;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    background: white;
    transition: all 0.5s ease-out;
    cursor: pointer;
    &:hover {
      box-shadow: 0px 10px 40px -20px rgba(0, 0, 0, 0.5);
      transform: translateY(-10px);
      .product__overlay {
        opacity: 1;
      }
    }
    &.redeem {
      .product__overlay {
        background: linear-gradient(180deg, rgba(10, 212, 250, 0.86) 0%, rgba(37, 187, 241, 0.86) 100%);
      }
    }
  }
  &__overlay {
    display: none;
    @media #{$breakpoint-md-up} {
      background: rgba(80, 80, 80, 0.86);
      position: absolute;
      padding: 1.5rem;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
      z-index: 2;
      .center {
        width: 100%;
      }
      .price {
        .redeem & {
          margin-bottom: 0.75rem;
        }
      }
      .coin {
        padding-top: 4px;
        text-align: center;
      }
      .need {
        color: $white;
        text-align: center;
        margin-left: -8px;
      }
    }
  }
  &__image {
    min-height: 11.38rem;
    text-align: center;
  }
  &__texts {
    text-align: left;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin: 0 1.5rem;
    border-top: 1px solid $gray-100;
    h2 {
      font-size: 18px;
      line-height: 23px;
      letter-spacing: -0.0423529px;
      color: #616161;
    }
    h3 {
      text-align: left;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: -0.0376471px;
      color: #A3A3A3;
    }
  }
  .redeem-price {
    font-size: 16px;
    color: $white;
    background: rgba(37, 187, 241, 0.86);
    position: absolute;
    top:1.5rem;
    right: 0px;
    z-index: 1;
    padding: 8px 18px;
    border-radius: 1.5rem 0 0 1.5rem;
    &.not {
      background: rgba(80, 80, 80, 0.86);
    }
  }
}
