@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, hr {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none !important; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.mt-5 {
  margin-top: 5px !important; }

.pt-5 {
  padding-top: 5px !important; }

.mb-5 {
  margin-bottom: 5px !important; }

.pb-5 {
  padding-bottom: 5px !important; }

.ml-5 {
  margin-left: 5px !important; }

.pl-5 {
  padding-left: 5px !important; }

.mr-5 {
  margin-right: 5px !important; }

.pr-5 {
  padding-right: 5px !important; }

.mt-10 {
  margin-top: 10px !important; }

.pt-10 {
  padding-top: 10px !important; }

.mb-10 {
  margin-bottom: 10px !important; }

.pb-10 {
  padding-bottom: 10px !important; }

.ml-10 {
  margin-left: 10px !important; }

.pl-10 {
  padding-left: 10px !important; }

.mr-10 {
  margin-right: 10px !important; }

.pr-10 {
  padding-right: 10px !important; }

.mt-15 {
  margin-top: 15px !important; }

.pt-15 {
  padding-top: 15px !important; }

.mb-15 {
  margin-bottom: 15px !important; }

.pb-15 {
  padding-bottom: 15px !important; }

.ml-15 {
  margin-left: 15px !important; }

.pl-15 {
  padding-left: 15px !important; }

.mr-15 {
  margin-right: 15px !important; }

.pr-15 {
  padding-right: 15px !important; }

.mt-20 {
  margin-top: 20px !important; }

.pt-20 {
  padding-top: 20px !important; }

.mb-20 {
  margin-bottom: 20px !important; }

.pb-20 {
  padding-bottom: 20px !important; }

.ml-20 {
  margin-left: 20px !important; }

.pl-20 {
  padding-left: 20px !important; }

.mr-20 {
  margin-right: 20px !important; }

.pr-20 {
  padding-right: 20px !important; }

.mt-25 {
  margin-top: 25px !important; }

.pt-25 {
  padding-top: 25px !important; }

.mb-25 {
  margin-bottom: 25px !important; }

.pb-25 {
  padding-bottom: 25px !important; }

.ml-25 {
  margin-left: 25px !important; }

.pl-25 {
  padding-left: 25px !important; }

.mr-25 {
  margin-right: 25px !important; }

.pr-25 {
  padding-right: 25px !important; }

.mt-30 {
  margin-top: 30px !important; }

.pt-30 {
  padding-top: 30px !important; }

.mb-30 {
  margin-bottom: 30px !important; }

.pb-30 {
  padding-bottom: 30px !important; }

.ml-30 {
  margin-left: 30px !important; }

.pl-30 {
  padding-left: 30px !important; }

.mr-30 {
  margin-right: 30px !important; }

.pr-30 {
  padding-right: 30px !important; }

.mt-35 {
  margin-top: 35px !important; }

.pt-35 {
  padding-top: 35px !important; }

.mb-35 {
  margin-bottom: 35px !important; }

.pb-35 {
  padding-bottom: 35px !important; }

.ml-35 {
  margin-left: 35px !important; }

.pl-35 {
  padding-left: 35px !important; }

.mr-35 {
  margin-right: 35px !important; }

.pr-35 {
  padding-right: 35px !important; }

.mt-40 {
  margin-top: 40px !important; }

.pt-40 {
  padding-top: 40px !important; }

.mb-40 {
  margin-bottom: 40px !important; }

.pb-40 {
  padding-bottom: 40px !important; }

.ml-40 {
  margin-left: 40px !important; }

.pl-40 {
  padding-left: 40px !important; }

.mr-40 {
  margin-right: 40px !important; }

.pr-40 {
  padding-right: 40px !important; }

.mt-45 {
  margin-top: 45px !important; }

.pt-45 {
  padding-top: 45px !important; }

.mb-45 {
  margin-bottom: 45px !important; }

.pb-45 {
  padding-bottom: 45px !important; }

.ml-45 {
  margin-left: 45px !important; }

.pl-45 {
  padding-left: 45px !important; }

.mr-45 {
  margin-right: 45px !important; }

.pr-45 {
  padding-right: 45px !important; }

.mt-50 {
  margin-top: 50px !important; }

.pt-50 {
  padding-top: 50px !important; }

.mb-50 {
  margin-bottom: 50px !important; }

.pb-50 {
  padding-bottom: 50px !important; }

.ml-50 {
  margin-left: 50px !important; }

.pl-50 {
  padding-left: 50px !important; }

.mr-50 {
  margin-right: 50px !important; }

.pr-50 {
  padding-right: 50px !important; }

.mt-75 {
  margin-top: 75px !important; }

.pt-75 {
  padding-top: 75px !important; }

.mb-75 {
  margin-bottom: 75px !important; }

.pb-75 {
  padding-bottom: 75px !important; }

.ml-75 {
  margin-left: 75px !important; }

.pl-75 {
  padding-left: 75px !important; }

.mr-75 {
  margin-right: 75px !important; }

.pr-75 {
  padding-right: 75px !important; }

.mt-100 {
  margin-top: 100px !important; }

.pt-100 {
  padding-top: 100px !important; }

.mb-100 {
  margin-bottom: 100px !important; }

.pb-100 {
  padding-bottom: 100px !important; }

.ml-100 {
  margin-left: 100px !important; }

.pl-100 {
  padding-left: 100px !important; }

.mr-100 {
  margin-right: 100px !important; }

.pr-100 {
  padding-right: 100px !important; }

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1176px;
  width: 100%;
  padding: 0 0.5rem; }
  @media only screen and (min-width: 65rem) {
    .container {
      padding: 0; } }

.row {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap; }

.row.reverse {
  flex-direction: row-reverse; }

.row.natural-height {
  align-items: flex-start; }

.row.flex-column {
  flex-direction: column; }

.col {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 12px; }

.col.reverse {
  flex-direction: column-reverse; }

.first {
  order: -1; }

.last {
  order: 1; }

.align-start {
  align-self: flex-start; }

.align-end {
  align-self: flex-end; }

.align-center {
  align-self: center; }

.align-baseline {
  align-self: baseline; }

.align-stretch {
  align-self: stretch; }

.col-xs {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 12px; }

.col-xs-1 {
  box-sizing: border-box;
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%;
  padding: 0 12px; }

.col-xs-offset-1 {
  margin-left: 8.3333333333%; }

.col-xs-2 {
  box-sizing: border-box;
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%;
  padding: 0 12px; }

.col-xs-offset-2 {
  margin-left: 16.6666666667%; }

.col-xs-3 {
  box-sizing: border-box;
  flex-basis: 25%;
  max-width: 25%;
  padding: 0 12px; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-4 {
  box-sizing: border-box;
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%;
  padding: 0 12px; }

.col-xs-offset-4 {
  margin-left: 33.3333333333%; }

.col-xs-5 {
  box-sizing: border-box;
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%;
  padding: 0 12px; }

.col-xs-offset-5 {
  margin-left: 41.6666666667%; }

.col-xs-6 {
  box-sizing: border-box;
  flex-basis: 50%;
  max-width: 50%;
  padding: 0 12px; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-7 {
  box-sizing: border-box;
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%;
  padding: 0 12px; }

.col-xs-offset-7 {
  margin-left: 58.3333333333%; }

.col-xs-8 {
  box-sizing: border-box;
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%;
  padding: 0 12px; }

.col-xs-offset-8 {
  margin-left: 66.6666666667%; }

.col-xs-9 {
  box-sizing: border-box;
  flex-basis: 75%;
  max-width: 75%;
  padding: 0 12px; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-10 {
  box-sizing: border-box;
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%;
  padding: 0 12px; }

.col-xs-offset-10 {
  margin-left: 83.3333333333%; }

.col-xs-11 {
  box-sizing: border-box;
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%;
  padding: 0 12px; }

.col-xs-offset-11 {
  margin-left: 91.6666666667%; }

.col-xs-12, .product {
  box-sizing: border-box;
  flex-basis: 100%;
  max-width: 100%;
  padding: 0 12px; }

.col-xs-offset-12 {
  margin-left: 100%; }

.row.start-xs {
  justify-content: flex-start; }

.row.center-xs {
  justify-content: center; }

.row.end-xs {
  justify-content: flex-end; }

.row.top-xs {
  align-items: flex-start; }

.row.middle-xs {
  align-items: center; }

.row.bottom-xs {
  align-items: flex-end; }

.row.around-xs {
  justify-content: space-around; }

.row.between-xs {
  justify-content: space-between; }

.first-xs {
  order: -1; }

.last-xs {
  order: 1; }

@media only screen and (min-width: 41rem) {
  .col-sm {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 12px; }

  .col-sm-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 0 12px; }

  .col-sm-offset-1 {
    margin-left: 8.3333333333%; }

  .col-sm-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 0 12px; }

  .col-sm-offset-2 {
    margin-left: 16.6666666667%; }

  .col-sm-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 0 12px; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 0 12px; }

  .col-sm-offset-4 {
    margin-left: 33.3333333333%; }

  .col-sm-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 0 12px; }

  .col-sm-offset-5 {
    margin-left: 41.6666666667%; }

  .col-sm-6, .product {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 0 12px; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 0 12px; }

  .col-sm-offset-7 {
    margin-left: 58.3333333333%; }

  .col-sm-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 0 12px; }

  .col-sm-offset-8 {
    margin-left: 66.6666666667%; }

  .col-sm-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 0 12px; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 0 12px; }

  .col-sm-offset-10 {
    margin-left: 83.3333333333%; }

  .col-sm-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 0 12px; }

  .col-sm-offset-11 {
    margin-left: 91.6666666667%; }

  .col-sm-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 0 12px; }

  .col-sm-offset-12 {
    margin-left: 100%; }

  .row.start-sm {
    justify-content: flex-start; }

  .row.center-sm {
    justify-content: center; }

  .row.end-sm {
    justify-content: flex-end; }

  .row.top-sm {
    align-items: flex-start; }

  .row.middle-sm {
    align-items: center; }

  .row.bottom-sm {
    align-items: flex-end; }

  .row.around-sm {
    justify-content: space-around; }

  .row.between-sm {
    justify-content: space-between; }

  .first-sm {
    order: -1; }

  .last-sm {
    order: 1; } }
@media only screen and (min-width: 65rem) {
  .col-md {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 12px; }

  .col-md-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 0 12px; }

  .col-md-offset-1 {
    margin-left: 8.3333333333%; }

  .col-md-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 0 12px; }

  .col-md-offset-2 {
    margin-left: 16.6666666667%; }

  .col-md-3, .product {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 0 12px; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 0 12px; }

  .col-md-offset-4 {
    margin-left: 33.3333333333%; }

  .col-md-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 0 12px; }

  .col-md-offset-5 {
    margin-left: 41.6666666667%; }

  .col-md-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 0 12px; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 0 12px; }

  .col-md-offset-7 {
    margin-left: 58.3333333333%; }

  .col-md-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 0 12px; }

  .col-md-offset-8 {
    margin-left: 66.6666666667%; }

  .col-md-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 0 12px; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 0 12px; }

  .col-md-offset-10 {
    margin-left: 83.3333333333%; }

  .col-md-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 0 12px; }

  .col-md-offset-11 {
    margin-left: 91.6666666667%; }

  .col-md-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 0 12px; }

  .col-md-offset-12 {
    margin-left: 100%; }

  .row.start-md {
    justify-content: flex-start; }

  .row.center-md {
    justify-content: center; }

  .row.end-md {
    justify-content: flex-end; }

  .row.top-md {
    align-items: flex-start; }

  .row.middle-md {
    align-items: center; }

  .row.bottom-md {
    align-items: flex-end; }

  .row.around-md {
    justify-content: space-around; }

  .row.between-md {
    justify-content: space-between; }

  .first-md {
    order: -1; }

  .last-md {
    order: 1; } }
@media only screen and (min-width: 91rem) {
  .col-lg {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 12px; }

  .col-lg-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 0 12px; }

  .col-lg-offset-1 {
    margin-left: 8.3333333333%; }

  .col-lg-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 0 12px; }

  .col-lg-offset-2 {
    margin-left: 16.6666666667%; }

  .col-lg-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 0 12px; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 0 12px; }

  .col-lg-offset-4 {
    margin-left: 33.3333333333%; }

  .col-lg-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 0 12px; }

  .col-lg-offset-5 {
    margin-left: 41.6666666667%; }

  .col-lg-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 0 12px; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 0 12px; }

  .col-lg-offset-7 {
    margin-left: 58.3333333333%; }

  .col-lg-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 0 12px; }

  .col-lg-offset-8 {
    margin-left: 66.6666666667%; }

  .col-lg-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 0 12px; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 0 12px; }

  .col-lg-offset-10 {
    margin-left: 83.3333333333%; }

  .col-lg-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 0 12px; }

  .col-lg-offset-11 {
    margin-left: 91.6666666667%; }

  .col-lg-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 0 12px; }

  .col-lg-offset-12 {
    margin-left: 100%; }

  .row.start-lg {
    justify-content: flex-start; }

  .row.center-lg {
    justify-content: center; }

  .row.end-lg {
    justify-content: flex-end; }

  .row.top-lg {
    align-items: flex-start; }

  .row.middle-lg {
    align-items: center; }

  .row.bottom-lg {
    align-items: flex-end; }

  .row.around-lg {
    justify-content: space-around; }

  .row.between-lg {
    justify-content: space-between; }

  .first-lg {
    order: -1; }

  .last-lg {
    order: 1; } }
@media only screen and (min-width: 121rem) {
  .col-xl {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 12px; }

  .col-xl-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 0 12px; }

  .col-xl-offset-1 {
    margin-left: 8.3333333333%; }

  .col-xl-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 0 12px; }

  .col-xl-offset-2 {
    margin-left: 16.6666666667%; }

  .col-xl-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 0 12px; }

  .col-xl-offset-3 {
    margin-left: 25%; }

  .col-xl-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 0 12px; }

  .col-xl-offset-4 {
    margin-left: 33.3333333333%; }

  .col-xl-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 0 12px; }

  .col-xl-offset-5 {
    margin-left: 41.6666666667%; }

  .col-xl-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 0 12px; }

  .col-xl-offset-6 {
    margin-left: 50%; }

  .col-xl-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 0 12px; }

  .col-xl-offset-7 {
    margin-left: 58.3333333333%; }

  .col-xl-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 0 12px; }

  .col-xl-offset-8 {
    margin-left: 66.6666666667%; }

  .col-xl-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 0 12px; }

  .col-xl-offset-9 {
    margin-left: 75%; }

  .col-xl-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 0 12px; }

  .col-xl-offset-10 {
    margin-left: 83.3333333333%; }

  .col-xl-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 0 12px; }

  .col-xl-offset-11 {
    margin-left: 91.6666666667%; }

  .col-xl-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 0 12px; }

  .col-xl-offset-12 {
    margin-left: 100%; }

  .row.start-xl {
    justify-content: flex-start; }

  .row.center-xl {
    justify-content: center; }

  .row.end-xl {
    justify-content: flex-end; }

  .row.top-xl {
    align-items: flex-start; }

  .row.middle-xl {
    align-items: center; }

  .row.bottom-xl {
    align-items: flex-end; }

  .row.around-xl {
    justify-content: space-around; }

  .row.between-xl {
    justify-content: space-between; }

  .first-xl {
    order: -1; }

  .last-xl {
    order: 1; } }
.col-gutter-lr {
  padding: 0 12px; }

.col-no-gutter {
  padding: 0; }

.btn {
  border: none;
  border-radius: 3rem;
  line-height: 1.5rem;
  padding: 0.65rem 1.5rem 0.80rem;
  font-size: 1.5rem;
  margin: 0 0.75rem;
  transition: all 0.5s ease-out;
  cursor: pointer; }
  .btn:hover {
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px); }
  .btn:focus {
    ouline: none !important; }
  .btn.btn--primary, .filter .buttons .btn.active {
    background: #0AD4FA;
    color: #fff; }
  .btn.btn--default, .filter .buttons .btn {
    background: #EDEDED;
    color: #A3A3A3; }
  .btn.btn--line {
    border: 2px solid #fff;
    color: #fff;
    background: none !important; }
    .btn.btn--line:hover {
      background: #fff;
      color: #616161;
      transform: none; }
  .btn.btn--light {
    background: #fff;
    color: #616161; }
  .btn.btn--big {
    font-size: 1.4rem;
    padding: 1.2rem 2.25rem 1.3rem;
    margin-left: 0;
    margin-top: 1.5rem;
    background: white; }
    @media only screen and (min-width: 65rem) {
      .btn.btn--big {
        margin-top: 2.25rem; } }
  .btn.btn--block {
    width: 100%;
    font-size: 1.125rem;
    color: #616161;
    line-height: 1.125rem;
    padding: 0.75rem 0px 0.75rem;
    margin: 0; }

.more {
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 2rem; }

.loading {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F2F2F2; }

.spinner {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px; }

.spinner div {
  position: absolute;
  border: 4px solid #0AD4FA;
  opacity: 1;
  border-radius: 50%;
  animation: spinner 1s cubic-bezier(0, 0.2, 0.8, 1) infinite; }

.spinner div:nth-child(2) {
  animation-delay: -0.5s; }

@keyframes spinner {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1; }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0; } }
body, html {
  min-height: 100vh;
  font-family: "Source Sans Pro", sans-serif;
  background: #F2F2F2;
  font-size: 14px;
  color: #616161; }
  @media only screen and (min-width: 65rem) {
    body, html {
      font-size: 16px; } }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

#app {
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column; }

img {
  vertical-align: top; }

* {
  box-sizing: border-box; }

input[type=button], button {
  padding: 0; }

.clearfix::after {
  display: table;
  clear: both;
  content: ""; }

.fade-enter-active {
  transition: opacity 0.8s; }

.fade-enter, .fade-leave-to {
  opacity: 0; }

h1 {
  font-style: normal;
  font-weight: bold;
  color: #616161;
  font-size: 3rem;
  line-height: 3rem; }
  @media only screen and (min-width: 41rem) {
    h1 {
      font-size: 4rem;
      line-height: 4rem;
      color: #fff; } }

.lead {
  font-size: 1.5rem;
  color: #fff;
  margin-top: 1rem;
  line-height: 2rem;
  margin-bottom: 1rem; }

.title {
  font-size: 1.5rem;
  line-height: 3rem;
  color: #616161;
  padding-right: 0.5rem; }
  .title.light {
    color: #A3A3A3; }

.price {
  font-size: 2.25rem;
  color: #fff;
  line-height: 2.25rem;
  display: block; }
  .price .coin {
    text-align: center; }
    @media only screen and (min-width: 65rem) {
      .price .coin {
        padding-top: 4px; } }

#content {
  margin-top: 2rem; }
  @media only screen and (min-width: 41rem) {
    #content {
      margin-top: 4rem; } }

.footer {
  margin-bottom: 1rem; }

.show {
  display: block !important; }

.row.show {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important; }

.hide {
  display: none !important; }

.show-xs {
  display: block !important; }

.row.show-xs {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important; }

.hide-xs {
  display: none !important; }

@media only screen and (max-width: 40rem) {
  .show-xs-only {
    display: block !important; }

  .row.show-xs-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; }

  .hide-xs-only {
    display: none !important; } }
@media only screen and (min-width: 41rem) {
  .show-sm {
    display: block !important; }

  .row.show-sm {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; }

  .hide-sm {
    display: none !important; } }
@media only screen and (min-width: 41rem) and (max-width: 64rem) {
  .show-sm-only {
    display: block !important; }

  .row.show-sm-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; }

  .hide-sm-only {
    display: none !important; } }
@media only screen and (min-width: 65rem) {
  .show-md {
    display: block !important; }

  .row.show-md {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; }

  .hide-md {
    display: none !important; } }
@media only screen and (min-width: 65rem) and (max-width: 90rem) {
  .show-md-only {
    display: block !important; }

  .row.show-md-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; }

  .hide-md-only {
    display: none !important; } }
@media only screen and (min-width: 91rem) {
  .show-lg {
    display: block !important; }

  .row.show-lg {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; }

  .hide-lg {
    display: none !important; } }
@media only screen and (min-width: 91rem) and (max-width: 120rem) {
  .show-lg-only {
    display: block !important; }

  .row.show-lg-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; }

  .hide-lg-only {
    display: none !important; } }
@media only screen and (min-width: 121rem) {
  .show-xl {
    display: block !important; }

  .row.show-xl {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; }

  .hide-xl {
    display: none !important; } }
.header {
  background: white;
  padding: 1rem 1.5rem;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10; }
  @media only screen and (min-width: 65rem) {
    .header {
      padding: 1rem 2.625rem; } }
  .header__brand {
    width: 2.375rem;
    padding-top: 6px; }
  .header .user {
    align-self: end; }
    .header .user__name {
      padding-right: 1.125rem;
      float: right;
      letter-spacing: -0.15px; }
    .header .user__points {
      float: right;
      background: #D9D9D9;
      padding: 0 0.75rem 0 1rem;
      border-radius: 1.5rem; }
      .header .user__points .coin {
        padding-top: 0.5rem;
        display: inline; }

#heading {
  background: url("../assets/header-xs.png") center right no-repeat #15dbff;
  background-size: contain;
  height: 32vw;
  min-height: 18rem;
  max-height: 412px;
  margin-top: 5rem;
  position: relative; }
  @media only screen and (min-width: 65rem) {
    #heading {
      background: url("../assets/header-x1.png") center right no-repeat #15dbff;
      background-size: contain; } }
  #heading h1 {
    position: absolute;
    bottom: 2.5rem; }

.filter {
  padding: 0 0 0.75rem;
  margin-top: 0.75rem; }
  @media only screen and (min-width: 41rem) {
    .filter {
      border-bottom: 1px solid #D9D9D9;
      margin: 0 1rem 1.5rem; } }
  .filter .filter-btn {
    margin-left: 0; }
    @media only screen and (min-width: 41rem) {
      .filter .filter-btn {
        display: none; } }
  .filter .count {
    border-right: 1px solid #D9D9D9;
    padding-right: 1.5rem;
    margin-right: 1.5rem;
    display: none; }
    @media only screen and (min-width: 65rem) {
      .filter .count {
        display: inline-block; } }
  .filter .sort {
    display: none;
    padding-right: 0.75rem; }
    @media only screen and (min-width: 41rem) {
      .filter .sort {
        display: inline-block; } }
  .filter .buttons {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out; }
    @media only screen and (max-width: 40rem) {
      .filter .buttons .btn {
        display: block;
        width: 100%;
        margin-bottom: 10px;
        margin-left: 0; } }
    @media only screen and (min-width: 41rem) {
      .filter .buttons {
        display: inline-block;
        max-height: inherit;
        overflow: inherit; } }
    .filter .buttons.active {
      margin-top: 10px;
      overflow: inherit;
      max-height: 300px; }
  .filter .pagination {
    float: right;
    display: inline-flex; }
  .filter .pagination__item {
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    transition: background-color 0.5s ease-out;
    cursor: pointer; }
    .filter .pagination__item:hover {
      background: #0AD4FA; }

.fade-enter-active {
  transition: all .5s ease;
  transform: translateY(0px);
  transition-delay: 1s; }

.fadeprod-enter-active {
  transition: all .5s ease;
  transform: translateY(0px);
  transition-delay: 5s; }

.fade-enter, .fade-leave-to {
  opacity: 0;
  transform: translateY(10px); }

.bounce-enter-active {
  transition: all .5s ease; }

.bounce-enter, .bounce-leave-to {
  background: #0AD4FA;
  color: #fff; }

.product {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem; }
  .product__inner {
    position: relative;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    background: white;
    transition: all 0.5s ease-out;
    cursor: pointer; }
    .product__inner:hover {
      box-shadow: 0px 10px 40px -20px rgba(0, 0, 0, 0.5);
      transform: translateY(-10px); }
      .product__inner:hover .product__overlay {
        opacity: 1; }
    .product__inner.redeem .product__overlay {
      background: linear-gradient(180deg, rgba(10, 212, 250, 0.86) 0%, rgba(37, 187, 241, 0.86) 100%); }
  .product__overlay {
    display: none; }
    @media only screen and (min-width: 65rem) {
      .product__overlay {
        background: rgba(80, 80, 80, 0.86);
        position: absolute;
        padding: 1.5rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        z-index: 2; }
        .product__overlay .center {
          width: 100%; }
        .redeem .product__overlay .price {
          margin-bottom: 0.75rem; }
        .product__overlay .coin {
          padding-top: 4px;
          text-align: center; }
        .product__overlay .need {
          color: #fff;
          text-align: center;
          margin-left: -8px; } }
  .product__image {
    min-height: 11.38rem;
    text-align: center; }
  .product__texts {
    text-align: left;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin: 0 1.5rem;
    border-top: 1px solid #EDEDED; }
    .product__texts h2 {
      font-size: 18px;
      line-height: 23px;
      letter-spacing: -0.0423529px;
      color: #616161; }
    .product__texts h3 {
      text-align: left;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: -0.0376471px;
      color: #A3A3A3; }
  .product .redeem-price {
    font-size: 16px;
    color: #fff;
    background: rgba(37, 187, 241, 0.86);
    position: absolute;
    top: 1.5rem;
    right: 0px;
    z-index: 1;
    padding: 8px 18px;
    border-radius: 1.5rem 0 0 1.5rem; }
    .product .redeem-price.not {
      background: rgba(80, 80, 80, 0.86); }

#product {
  position: relative;
  background: #0AD4FA;
  min-height: 100vh; }
  #product .main-product {
    margin-top: 5rem;
    background: #0AD4FA;
    padding-top: 2rem;
    min-height: 100vh; }
    @media only screen and (min-width: 41rem) {
      #product .main-product {
        padding-top: 4rem; } }
    @media only screen and (min-width: 41rem) {
      #product .main-product .row {
        flex-direction: row-reverse; } }
  #product h1 {
    color: #fff;
    padding-top: 3rem; }
  #product .description-content {
    position: relative; }
  #product .description {
    position: absolute; }
    @media only screen and (min-width: 41rem) {
      #product .description {
        padding-right: 1.5rem; } }
  #product .image-container {
    background: url("../assets/image-default.png") no-repeat center center #fff;
    border-radius: 1.5rem;
    overflow: hidden;
    box-shadow: 0px 10px 2.5rem 0px rgba(0, 0, 0, 0.2);
    padding: 2rem 1.5rem;
    min-height: 238px;
    text-align: center; }
    @media only screen and (min-width: 41rem) {
      #product .image-container {
        padding: 4rem 1.5rem; } }
    @media only screen and (min-width: 65rem) {
      #product .image-container {
        min-height: 492px; } }
    #product .image-container img {
      margin: 0 auto;
      max-width: 100%; }

.fadeUp-enter-active {
  transition: all .5s ease;
  ransform: translateY(0px);
  transition-delay: 0.2s; }

.fadeUp-enter {
  opacity: 0;
  transform: translateY(10px); }

.fadeUp-leave-to {
  opacity: 0; }

.fadeUp-leave {
  opacity: 0; }

/*# sourceMappingURL=style.css.map */
